rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if a user is an admin
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Products and categories are world-readable
    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /products/{productId}/reviews/{reviewId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.userId || isAdmin();
    }
    match /categories/{categoryId} {
        allow read: if true;
        allow write: if isAdmin();
    }
    
    // Promo codes can be read by anyone, but only managed by admins.
    match /promoCodes/{code} {
        allow read: if true;
        allow write: if isAdmin();
    }

    // Site settings are world-readable, but only managed by admins.
    match /settings/homepage {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Users can only access their own data, but admins can access anyone's.
    match /users/{userId} {
        allow read, write: if request.auth.uid == userId || isAdmin();
    }
    
    // Authenticated users can create orders for themselves. Admins can manage all orders.
    match /orders/{orderId} {
        allow create: if request.auth.uid == request.resource.data.userId;
        allow read, update, delete: if request.auth.uid == resource.data.userId || isAdmin();
    }

  }
}
